[Unit]
Description=Advanced realtime database.
After=network.target redis.service sentinel.service

[Service]
Type=forking
ExecStart=/usr/local/bin/menu-chat-server /etc/menu-chat/menu-chat-server.conf
ExecStop=/bin/kill -s INT $MAINPID
PIDFile=/run/menu-chat-server.pid
Restart=always

[Install]
WantedBy=multi-user.target

