Source: occase
Section: database
Priority: optional
Maintainer: Marcelo Zimbres Silva <mzimbres@gmail.com>
Build-Depends: debhelper (>=11~), debhelper-compat (=12), libboost-program-options-dev, nlohmann-json3-dev, libfmt-dev
Standards-Version: 4.5.0
Homepage: http://www.occase.de
Vcs-Browser: https://github.com/mzimbres/tsvtree
Vcs-Git: https://github.com/mzimbres/tsvtree.git
Rules-Requires-Root: binary-targets

Package: occase-db
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Replaces: occase-db (<< 1.0.0-1)
Description: Realtime database for the occase app (server).
 A sigle threaded database that uses websocket and scales per process.
 .
 This package contains only the database.

Package: occase-tools
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Replaces: occase-tools (<< 1.0.0-1)
Description: Tools to configure and monitor the occase servers.
 Contains the tools to configure and monitor the occase server.
 For example load redis with the channels, display current number of
 websocket sessions etc.
 .
 This package contains the occase tools.

Package: occase-notify
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Replaces: occase-notify (<< 1.0.0-1)
Description: Push notification server used by the occase app.
 A single threaded server that sends push notifications to
 users that are not online.
 .
 This package contains only the notify server.
