[Unit]
Description=Advanced realtime database.
After=network.target redis.service sentinel.service

[Service]
Type=forking
ExecStart=/usr/bin/occase-db /etc/occase/occase-db.conf
ExecStop=/bin/kill -s INT $MAINPID
PIDFile=/run/occase-db.pid
Restart=always

[Install]
WantedBy=multi-user.target

