[Unit]
Description=Advanced realtime database.
After=network.target redis.service sentinel.service

[Service]
ExecStart=/usr/bin/occase-db /etc/occase/occase-db.conf
ExecStop=/bin/kill -s INT $MAINPID
Restart=always
NoNewPrivileges=true
LimitNOFILE=100000
ProtectSystem=strict
ProtectHome=true
ProtectKernelModules=true
ProtectControlGroups=true

[Install]
WantedBy=multi-user.target

