[Unit]
Description=Http multimedia server.
After=network.target

[Service]
ExecStart=/usr/bin/occase-mms /etc/occase/occase-mms.conf
ExecStop=/bin/kill -s INT $MAINPID
Restart=always
NoNewPrivileges=true

[Install]
WantedBy=multi-user.target

