[Unit]
Description=HTTP image server.
After=network.target

[Service]
Type=forking
ExecStart=/usr/bin/occase-mms /etc/occase/occase-mms.conf
ExecStop=/bin/kill -s INT $MAINPID
PIDFile=/run/occase-mms.pid
Restart=always

[Install]
WantedBy=multi-user.target

